<%= form_with(model: raffle, local: true) do |form| %>
  <% if raffle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(raffle.errors.count, "error") %> prohibited this raffle from being saved:</h2>

      <ul>
      <% raffle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parking_id, class: 'label' %>
    <% if @parking_raffle.nil? %>
      <%= form.text_field :parking_id %>
    <% else %>
      <%= form.text_field :parking_id, value: @parking_raffle.id %>
      <p><%= @parking_raffle.name %></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :applicant_id, class: 'label' %>
    <% if @applicant_raffle.nil? %>
      <%= form.text_field :applicant_id%>
    <% else %>
      <%= form.text_field :applicant_id, value: @applicant_raffle.id  %>
      <p><%= @applicant_raffle.plate %></p>
    <% end %>
    
  </div>

  <div class="field">
    <%= form.label :assigned, class: 'label' %>
    <%= form.check_box :assigned %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-success is-rounded is-outlined' %>
  </div>
<% end %>
