<p id="notice"><%= notice %></p>

<h1 class="title">Raffles</h1>

<table class = 'table is-hoverable'>
  <thead>
    <tr>
      <th>Random selected</th>
      <th>Assigned</th>
      <th>Applicant</th>
      <th>Parking</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @raffles.each do |raffle| %>
      <tr>
        <td><%= raffle.random_selected %></td>
        <td><%= raffle.assigned %></td>
        <td><%= raffle.applicant.plate %></td>
        <td><%= raffle.parking.name %></td>
        <td><%= link_to 'Show', raffle, class: "button is-small is-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raffle', new_raffle_path, class: 'button is-primary is-rounded is-hovered'%>
