<section class='hero is-Light welcome is-small'>
  <div class='hero-body'>
    <h1 class="title">Sorteo</h1>
    <h2 class="subtitle">Resultado del Sorteo</h1>
  </div>
</section>

<div class="columns">

  <div class="column is-one-quarter">

    <div class="field">
    <label class="label">Parqueadero:</label>
      <input class="input is-static" type="text" value="<%= @raffle.parking.name %>" readonly>
      <input class="input is-static" type="text" value="<%= @raffle.parking.parking_type %>" readonly>
    </div>

    <div class="field">
      <label class="label">Placa:</label>
      <input class="input is-static" type="text" value="<%= @raffle.applicant.plate %>" readonly>
      <input class="input is-static" type="text" value="<%= @raffle.applicant.vehicle_type %>" readonly>
    </div>

     <div class="field">
      <label class="label">Asignado:</label>
      <input class="input is-static" type="text" value="<%= @raffle.assigned %>" readonly>
    </div>

    <%= link_to 'Edit', edit_raffle_path(@raffle), class: 'button is-rounded is-outlined' %>
    <br><br>
    <%= link_to 'Continue', home_index_path, class: 'button is-primary is-rounded is-outlined' %>
  </div>

 </div>