<p id="notice"><%= notice %></p>

<div class="columns">

  <div class="column">
  </div>

  <div class="column">

    <div class="field">
      <label class="label">Assigned:</label>
      <input class="input is-static" type="text" value="<%= @raffle.assigned %>" readonly>
    </div>

    <div class="field">
      <label class="label">Applicant:</label>
      <input class="input is-static" type="text" value="<%= @raffle.applicant.plate %>" readonly>
    </div>

    <div class="field">
    <label class="label">Parking:</label>
    <input class="input is-static" type="text" value="<%= @raffle.parking.name %>" readonly>
    </div>

    <%= link_to 'Edit', edit_raffle_path(@raffle), class: 'button is-rounded is-outlined' %>
    <%= link_to 'Continue', home_index_path, class: 'button is-primary is-rounded is-outlined' %>
  </div>

  <div class="column">
  </div>
 </div>