<%= form_with(model: applicant, local: true) do |form| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plate, class: 'label'%>
    <%= form.text_field :plate %>
  </div>

  <div class="field">
    <%= form.label :vehicle_type, class: 'label'%>
    <%= form.select :vehicle_type, ['AUTO', 'MOTO', 'DISCA'], class: 'select is-rounded' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-success is-outlined'%>
  </div>
<% end %>
