<p id="notice"><%= notice %></p>

<h1 class="title">Applicants</h1>

<table class = 'table is-hoverable is-striped'>
  <thead>
    <tr>
      <th>Plate</th>
      <th>Vehicle type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.plate %></td>
        <td><%= applicant.vehicle_type %></td>
        <td><%= link_to 'Show', applicant, class: "button is-small is-primary" %></td>
        <td><%= link_to 'Edit', edit_applicant_path(applicant), class: "button is-small is-info" %></td>
        <td><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-small is-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant', new_applicant_path, class: 'button is-primary is-rounded is-hovered'%>
