<section class='hero is-Light welcome is-small'>
  <div class='hero-body'>
    <h1 class="title">Usuario</h1>
    <h2 class="subtitle">Usuario</h1>
  </div>
</section>

<p id="notice"><%= notice %></p>

<div class="columns">

  <div class="column">
  </div>

  <div class="column is-half">
    <div class="field">
      <label class= 'label'>Plate:</label>
      <input class="input is-static" type="text" value="<%= @applicant.plate %>" readonly>
    </div>

    <div class="field">
      <label class='label'>Vehicle type:</label>
      <input class="input is-static" type="text" value="<%= @applicant.vehicle_type %>" readonly>
    </div>

    <div class="field">
      <label class='label'>Assigned:</label>
      <input class="input is-static" type="text" value="<%= @applicant.assigned %>" readonly>
    </div>

    <%= link_to 'Edit', edit_applicant_path(@applicant), class: 'button is-rounded is-outlined' %>
    <%= link_to 'Back', applicants_path, class: 'button is-rounded is-outlined' %>
  </div>
  
  <div class="column">
  </div>
</div>