<p id="notice"><%= notice %></p>

<section class='hero is-Light welcome is-small'>
  <div class='hero-body'>
    <h1 class="title">Parqueaderos</h1>
    <h2 class="subtitle">Listado de todos los parqueaderos</h1>
  </div>
</section>

<div class="column is-one-quarter">

  <table class = 'table is-hoverable'>
    <thead>
      <tr>
        <th>Numero</th>
        <th>Tipo Parqueadero</th>
        <th>Estado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @parkings.each do |parking| %>
        <tr>
          <td><%= parking.name %></td>
          <td><%= parking.parking_type %></td>
          <td><%= parking.assigned %></td>
          <td><%= link_to 'Edit', edit_parking_path(parking), class: "button is-small is-info is-rounded is-outlined"  %></td>
          <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-small is-warning is-rounded is-outlined" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo parqueadero', new_parking_path, class: 'button is-primary is-hovered is-rounded is-outlined'%>
</div>