<p id="notice"><%= notice %></p>

<h1 class="title">Parkings</h1>

<table class = 'table is-hoverable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parking type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.name %></td>
        <td><%= parking.parking_type %></td>
        <td><%= link_to 'Show', parking, class: "button is-small is-primary" %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking), class: "button is-small is-info"  %></td>
        <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-small is-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking', new_parking_path, class: 'button is-primary is-rounded is-hovered'%>
