<p id="notice"><%= notice %></p>

<div class="columns">
  <div class="column">
  </div>

  <div class="column">
    <div class="field">
      <label class= 'label'>Name:</label>
      <input class="input is-static" type="text" value="<%= @parking.name %>" readonly>
    </div>

    <div class="field">
      <label class= 'label'>Parking type:</label>
      <input class="input is-static" type="text" value="<%= @parking.parking_type %>" readonly>
    </div>

    <div class="field">
      <label class= 'label'>Assigned:</label>
      <input class="input is-static" type="text" value="<%= @parking.assigned%>" readonly>
    </div>

    <%= link_to 'Edit', edit_parking_path(@parking), class: 'button is-rounded is-outlined' %> 
    <%= link_to 'Back', parkings_path, class: 'button is-rounded is-outlined' %>
  </div>

  <div class="column">
  </div>

</div>  



